.descriptionBox {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}

.descriptionbox-navigator {
  display: flex;
}

.descriptionBox-nav-box {
  padding: 10px 20px;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  cursor: pointer;
}

.descriptionBox-nav-box:hover {
  background-color: #e0e0e0;
}

.fade {
  opacity: 0.5;
}

.description-description {
  font-size: 16px;
  color: #555;
  border: 1px solid #ddd;
  padding: 20px;
}

.description-description p {
  margin: 0;
  line-height: 1.5;
}
