.loginsignup {
  width: 100%;
  background-color: #fce3fe;
  padding-top: 50px;
  padding-bottom: 50px;
}

.loginsignup-container {
  width: 480px;
  background-color: white;
  margin: auto;
  padding: 30px;
  max-width: 100%;
}

.loginsignup-fields {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-top: 30px;
}

.loginsignup-fields input {
  height: 52px;
  width: 100%;
  padding-left: 20px;
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  font-size: 18px;
}

.loginsignup-container button {
  width: 100%;
  height: 52px;
  color: white;
  background: #ff4141;
  margin-top: 30px;
  border: none;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.loginsingup-login {
  margin-top: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}

.loginsingup-login span {
  color: #ff4141;
  font-weight: 600;
  cursor: pointer;
}

.loginsignup-agree {
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}

/* Responsive Design */
@media (max-width: 768px) {
  .loginsignup {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .loginsignup-container {
    width: 90%;
    padding: 20px;
  }

  .loginsignup-fields input {
    font-size: 16px;
  }

  .loginsignup-container button {
    font-size: 20px;
    height: 45px;
  }

  .loginsingup-login {
    font-size: 16px;
  }

  .loginsingup-login span {
    font-size: 18px;
  }

  .loginsignup-agree {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .loginsignup-container {
    width: 100%;
  }

  .loginsignup-fields input {
    font-size: 14px;
    height: 45px;
  }

  .loginsignup-container button {
    font-size: 18px;
    height: 40px;
  }

  .loginsingup-login {
    font-size: 14px;
  }

  .loginsingup-login span {
    font-size: 16px;
  }

  .loginsignup-agree {
    font-size: 14px;
    gap: 15px;
  }
}
