.newsLetter {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(60deg, #fde1ff 100%, #e1ffea22 60%);
  padding: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.newsLetter h1 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

.newsLetter p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #777;
}

.newsLetter div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap; /* Ensure it wraps on smaller screens */
}

.newsLetter input[type="email"] {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px; /* Fixed width */
  max-width: 100%;
  box-sizing: border-box; /* Ensure padding is included in the width */
}

.newsLetter button {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #e74c3c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsLetter button:hover {
  background-color: #c0392b;
}

/* Responsive Design */
@media (max-width: 768px) {
  .newsLetter div {
    flex-direction: column;
  }

  .newsLetter input[type="email"] {
    width: 100%;
  }

  .newsLetter button {
    width: 100%;
  }
}
